NODE_ENV=development
PORT=3000
MONGODB_URI=mongodb://localhost:27017/crosh
JWT_SECRET=super-secret-key-that-is-at-least-16-chars
JWT_EXPIRES_IN=1h
JWT_REFRESH_SECRET=another-super-secret-key-that-is-at-least-16-chars
JWT_REFRESH_EXPIRES_IN=7d
